<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="static/css/main.css" rel="stylesheet" type="text/css">

    <title>361 Weather Daily</title>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand nav-title" href="/">CS361 Weather</a>
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="daily">Daily Weather</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login">Account Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="help">Need Help?</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="main">
            <h1>Daily Weather</h1>
            <p class="description">
                Enter keywords to search for current weather.
            </p>
            <p class="description">
                Becoming a registered user is able to see current weather data displayed on the Daily weather page automatically.
            </p>
            <section class="vh-100 bg-image mt-4 mb-5">
                <div class="mask d-flex align-items-center gradient-custom-3">
                  <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="">
                        <div class="card" style="border-radius: 15px;">
                          <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Weather Search</h2>
              
                            <form>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                        <input type="radio" id="form3Example1m" name="localType" value="city" {%if account and account.city %} checked {% endif%}>
                                        <label class="form-label" for="form3Example1m" style="margin-left: 0px;">City name</label>
                                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                                      <input id="city" type="text" name="city" class="form-control form-control-lg" value="{%if account and account.city %} {{account.city}} {% endif%}"/>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                      <div class="form-outline">
                                        <input type="radio" id="form3Example1n" name="localType" value="zip" {%if account and account.zip_code %} checked {% endif%}>
                                        <label class="form-label" for="form3Example1n" style="margin-left: 0px;">Zip Code</label>
                                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                                      <input id="zip" type="text" name="zip" class="form-control form-control-lg" value="{%if account and account.zip_code %} {{account.zip_code}} {% endif%}"/>
                                    </div>
                                  </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cdg">State</label>
                                    <select id="form3Example4cdg" class="form-control form-control-lg" name="state">
                                      <option {%if account and account.state == 'Alabama' %} selected {% endif%} value="Alabama">Alabama</option>
                                      <option {%if account and account.state == 'Alaska' %} selected {% endif%} value="Alaska">Alaska</option>
                                      <option {%if account and account.state == 'Arizona' %} selected {% endif%} value="Arizona">Arizona</option>
                                      <option {%if account and account.state == 'Arkansas' %} selected {% endif%} value="Arkansas">Arkansas</option>
                                      <option {%if account and account.state == 'California' %} selected {% endif%} value="California">California</option>
                                      <option {%if account and account.state == 'Colorado' %} selected {% endif%} value="Colorado">Colorado</option>
                                      <option {%if account and account.state == 'Connecticut' %} selected {% endif%} value="Connecticut">Connecticut</option>
                                      <option {%if account and account.state == 'Delaware' %} selected {% endif%} value="Delaware">Delaware</option>
                                      <option {%if account and account.state == 'District Of Columbia' %} selected {% endif%} value="District Of Columbia">District Of Columbia</option>
                                      <option {%if account and account.state == 'Florida' %} selected {% endif%} value="Florida">Florida</option>
                                      <option {%if account and account.state == 'Georgia' %} selected {% endif%} value="Georgia">Georgia</option>
                                      <option {%if account and account.state == 'Hawaii' %} selected {% endif%} value="Hawaii">Hawaii</option>
                                      <option {%if account and account.state == 'Idaho' %} selected {% endif%} value="Idaho">Idaho</option>
                                      <option {%if account and account.state == 'Illinois' %} selected {% endif%} value="Illinois">Illinois</option>
                                      <option {%if account and account.state == 'Indiana' %} selected {% endif%} value="Indiana">Indiana</option>
                                      <option {%if account and account.state == 'Iowa' %} selected {% endif%} value="Iowa">Iowa</option>
                                      <option {%if account and account.state == 'Kansas' %} selected {% endif%} value="Kansas">Kansas</option>
                                      <option {%if account and account.state == 'Kentucky' %} selected {% endif%} value="Kentucky">Kentucky</option>
                                      <option {%if account and account.state == 'Louisiana' %} selected {% endif%} value="Louisiana">Louisiana</option>
                                      <option {%if account and account.state == 'Maine' %} selected {% endif%} value="Maine">Maine</option>
                                      <option {%if account and account.state == 'Maryland' %} selected {% endif%} value="Maryland">Maryland</option>
                                      <option {%if account and account.state == 'Massachusetts' %} selected {% endif%} value="Massachusetts">Massachusetts</option>
                                      <option {%if account and account.state == 'Michigan' %} selected {% endif%} value="Michigan">Michigan</option>
                                      <option {%if account and account.state == 'Minnesota' %} selected {% endif%} value="Minnesota">Minnesota</option>
                                      <option {%if account and account.state == 'Mississippi' %} selected {% endif%} value="Mississippi">Mississippi</option>
                                      <option {%if account and account.state == 'Missouri' %} selected {% endif%} value="Missouri">Missouri</option>
                                      <option {%if account and account.state == 'Montana' %} selected {% endif%} value="Montana">Montana</option>
                                      <option {%if account and account.state == 'Nebraska' %} selected {% endif%} value="Nebraska">Nebraska</option>
                                      <option {%if account and account.state == 'Nevada' %} selected {% endif%} value="Nevada">Nevada</option>
                                      <option {%if account and account.state == 'New Hampshire' %} selected {% endif%} value="New Hampshire">New Hampshire</option>
                                      <option {%if account and account.state == 'New Jersey' %} selected {% endif%} value="New Jersey">New Jersey</option>
                                      <option {%if account and account.state == 'New Mexico' %} selected {% endif%} value="New Mexico">New Mexico</option>
                                      <option {%if account and account.state == 'New York' %} selected {% endif%} value="New York">New York</option>
                                      <option {%if account and account.state == 'North Carolina' %} selected {% endif%} value="North Carolina">North Carolina</option>
                                      <option {%if account and account.state == 'North Dakota' %} selected {% endif%} value="North Dakota">North Dakota</option>
                                      <option {%if account and account.state == 'Ohio' %} selected {% endif%} value="Ohio">Ohio</option>
                                      <option {%if account and account.state == 'Oklahoma' %} selected {% endif%} value="Oklahoma">Oklahoma</option>
                                      <option {%if account and account.state == 'Oregon' %} selected {% endif%} value="Oregon">Oregon</option>
                                      <option {%if account and account.state == 'Pennsylvania' %} selected {% endif%} value="Pennsylvania">Pennsylvania</option>
                                      <option {%if account and account.state == 'Rhode Island' %} selected {% endif%} value="Rhode Island">Rhode Island</option>
                                      <option {%if account and account.state == 'outh Carolina' %} selected {% endif%} value="outh Carolina">South Carolina</option>
                                      <option {%if account and account.state == 'South Dakota' %} selected {% endif%} value="South Dakota">South Dakota</option>
                                      <option {%if account and account.state == 'Tennessee' %} selected {% endif%} value="Tennessee">Tennessee</option>
                                      <option {%if account and account.state == 'Texas' %} selected {% endif%} value="Texas">Texas</option>
                                      <option {%if account and account.state == 'Utah' %} selected {% endif%} value="Utah">Utah</option>
                                      <option {%if account and account.state == 'Vermont' %} selected {% endif%} value="Vermont">Vermont</option>
                                      <option {%if account and account.state == 'Virginia' %} selected {% endif%} value="Virginia">Virginia</option>
                                      <option {%if account and account.state == 'Washington' %} selected {% endif%} value="Washington">Washington</option>
                                      <option {%if account and account.state == 'West Virginia' %} selected {% endif%} value="West Virginia">West Virginia</option>
                                      <option {%if account and account.state == 'Wisconsin' %} selected {% endif%} value="Wisconsin">Wisconsin</option>
                                      <option {%if account and account.state == 'Wyoming' %} selected {% endif%} value="Wyoming">Wyoming</option>
                                    </select>   
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-check-input" type="checkbox" value="true" id="checkPrecipitation" name="checkPrecipitation">
                                    <label class="form-label" for="checkPrecipitation">Include precipitation</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-check-input" type="checkbox" value="true" id="checkAirQuality" name="checkAirQuality">
                                    <label class="form-label" for="checkAirQuality">Include air quality index</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-check-input" type="checkbox" value="true" id="checkWind" name="checkWind">
                                    <label class="form-label" for="checkWind">Include info on the wind</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input class="form-check-input" type="checkbox" value="true" id="checkSun" name="checkSun">
                                    <label class="form-label" for="checkSun">Include sunset time and sunrise time</label>
                                </div>
                                
                
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" id="search">Search</button>
                                </div>
            
                            </form>
              
                          </div>
                        </div>
                        <section class="mt-5 mb-5 ajax-section">
                          <div class="container">
                            <ul class="cities"></ul>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <div id="openweathermap-widget-11"></div>
    <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
    <script src='static/js/daily.js'></script>
  </body>
</html>