<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="static/css/main.css" rel="stylesheet" >

    <title>361 Weather Account</title>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand nav-title" href="/">CS361 Weather</a>
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav_text">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="daily">Daily Weather</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  active" href="login">Account Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="help">Need Help?</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="main">
            {% if msg and msg != '' %}
              {% if returnCode == '001' %}
                <div class="alert alert-success" role="alert">
                  {{msg}}
                </div>
              {% else %}
                <div class="alert alert-danger" role="alert">
                  {{msg}}
                </div>
              {% endif %}
            {% endif %}
            <h1>Account Info</h1>
            <div class="d-flex justify-content-center">
              <a href="logout" class="all_btn btn btn-secondary btn-block btn-lg gradient-custom-4 text-body" id="logout" style="color:white !important">Log out</a>
            </div>
            <section class="vh-100 bg-image mt-4 mb-5">
                <div class="mask d-flex align-items-center gradient-custom-3">
                  <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="">
                        <div class="card" style="border-radius: 15px;">
                          <div class="card-body p-5">
                            <form action="/account" method="POST" id="account_form">
              
                              <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example1cg">User Name</label>
                                <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="username" readonly value="{{account.username}}" />
                              </div>
              
                              <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cg">New Password</label>
                                <input type="password" id="form3Example4cg" class="form-control form-control-lg" name="password" />
                              </div>
              
                              <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example4cdg">State</label>
                                <select id="form3Example4cdg" class="form-control form-control-lg" name="state" required>
                                  <option {%if account.state == 'Alabama' %} selected {% endif%} value="Alabama">Alabama</option>
                                  <option {%if account.state == 'Alaska' %} selected {% endif%} value="Alaska">Alaska</option>
                                  <option {%if account.state == 'Arizona' %} selected {% endif%} value="Arizona">Arizona</option>
                                  <option {%if account.state == 'Arkansas' %} selected {% endif%} value="Arkansas">Arkansas</option>
                                  <option {%if account.state == 'California' %} selected {% endif%} value="California">California</option>
                                  <option {%if account.state == 'Colorado' %} selected {% endif%} value="Colorado">Colorado</option>
                                  <option {%if account.state == 'Connecticut' %} selected {% endif%} value="Connecticut">Connecticut</option>
                                  <option {%if account.state == 'Delaware' %} selected {% endif%} value="Delaware">Delaware</option>
                                  <option {%if account.state == 'District Of Columbia' %} selected {% endif%} value="District Of Columbia">District Of Columbia</option>
                                  <option {%if account.state == 'Florida' %} selected {% endif%} value="Florida">Florida</option>
                                  <option {%if account.state == 'Georgia' %} selected {% endif%} value="Georgia">Georgia</option>
                                  <option {%if account.state == 'Hawaii' %} selected {% endif%} value="Hawaii">Hawaii</option>
                                  <option {%if account.state == 'Idaho' %} selected {% endif%} value="Idaho">Idaho</option>
                                  <option {%if account.state == 'Illinois' %} selected {% endif%} value="Illinois">Illinois</option>
                                  <option {%if account.state == 'Indiana' %} selected {% endif%} value="Indiana">Indiana</option>
                                  <option {%if account.state == 'Iowa' %} selected {% endif%} value="Iowa">Iowa</option>
                                  <option {%if account.state == 'Kansas' %} selected {% endif%} value="Kansas">Kansas</option>
                                  <option {%if account.state == 'Kentucky' %} selected {% endif%} value="Kentucky">Kentucky</option>
                                  <option {%if account.state == 'Louisiana' %} selected {% endif%} value="Louisiana">Louisiana</option>
                                  <option {%if account.state == 'Maine' %} selected {% endif%} value="Maine">Maine</option>
                                  <option {%if account.state == 'Maryland' %} selected {% endif%} value="Maryland">Maryland</option>
                                  <option {%if account.state == 'Massachusetts' %} selected {% endif%} value="Massachusetts">Massachusetts</option>
                                  <option {%if account.state == 'Michigan' %} selected {% endif%} value="Michigan">Michigan</option>
                                  <option {%if account.state == 'Minnesota' %} selected {% endif%} value="Minnesota">Minnesota</option>
                                  <option {%if account.state == 'Mississippi' %} selected {% endif%} value="Mississippi">Mississippi</option>
                                  <option {%if account.state == 'Missouri' %} selected {% endif%} value="Missouri">Missouri</option>
                                  <option {%if account.state == 'Montana' %} selected {% endif%} value="Montana">Montana</option>
                                  <option {%if account.state == 'Nebraska' %} selected {% endif%} value="Nebraska">Nebraska</option>
                                  <option {%if account.state == 'Nevada' %} selected {% endif%} value="Nevada">Nevada</option>
                                  <option {%if account.state == 'New Hampshire' %} selected {% endif%} value="New Hampshire">New Hampshire</option>
                                  <option {%if account.state == 'New Jersey' %} selected {% endif%} value="New Jersey">New Jersey</option>
                                  <option {%if account.state == 'New Mexico' %} selected {% endif%} value="New Mexico">New Mexico</option>
                                  <option {%if account.state == 'New York' %} selected {% endif%} value="New York">New York</option>
                                  <option {%if account.state == 'North Carolina' %} selected {% endif%} value="North Carolina">North Carolina</option>
                                  <option {%if account.state == 'North Dakota' %} selected {% endif%} value="North Dakota">North Dakota</option>
                                  <option {%if account.state == 'Ohio' %} selected {% endif%} value="Ohio">Ohio</option>
                                  <option {%if account.state == 'Oklahoma' %} selected {% endif%} value="Oklahoma">Oklahoma</option>
                                  <option {%if account.state == 'Oregon' %} selected {% endif%} value="Oregon">Oregon</option>
                                  <option {%if account.state == 'Pennsylvania' %} selected {% endif%} value="Pennsylvania">Pennsylvania</option>
                                  <option {%if account.state == 'Rhode Island' %} selected {% endif%} value="Rhode Island">Rhode Island</option>
                                  <option {%if account.state == 'outh Carolina' %} selected {% endif%} value="outh Carolina">South Carolina</option>
                                  <option {%if account.state == 'South Dakota' %} selected {% endif%} value="South Dakota">South Dakota</option>
                                  <option {%if account.state == 'Tennessee' %} selected {% endif%} value="Tennessee">Tennessee</option>
                                  <option {%if account.state == 'Texas' %} selected {% endif%} value="Texas">Texas</option>
                                  <option {%if account.state == 'Utah' %} selected {% endif%} value="Utah">Utah</option>
                                  <option {%if account.state == 'Vermont' %} selected {% endif%} value="Vermont">Vermont</option>
                                  <option {%if account.state == 'Virginia' %} selected {% endif%} value="Virginia">Virginia</option>
                                  <option {%if account.state == 'Washington' %} selected {% endif%} value="Washington">Washington</option>
                                  <option {%if account.state == 'West Virginia' %} selected {% endif%} value="West Virginia">West Virginia</option>
                                  <option {%if account.state == 'Wisconsin' %} selected {% endif%} value="Wisconsin">Wisconsin</option>
                                  <option {%if account.state == 'Wyoming' %} selected {% endif%} value="Wyoming">Wyoming</option>
                                </select>     
                              </div>
                              <div class="row">
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <input type="radio" id="form3Example1m" name="localType" value="city" {% if account.city %} checked {% endif %}>
                                    <label class="form-label" for="form3Example1m" style="margin-left: 0px;">City name</label>
                                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                                  <input type="text" name="city" class="form-control form-control-lg" value="{% if account.city %} {{account.city}} {% endif %}"/>
                                </div>
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <input type="radio" id="form3Example1n" name="localType" value="zip" {% if account.zip_code %} checked {% endif %} >
                                    <label class="form-label" for="form3Example1n" style="margin-left: 0px;">Zip Code</label>
                                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                                  <input type="text" name="zip" class="form-control form-control-lg" value="{% if account.zip_code %} {{account.zip_code}} {% endif %}"/>
                                </div>
                              </div>
              
                              <div class="d-flex justify-content-center">
                                <button type="submit" class="all_btn btn btn-success btn-block btn-lg gradient-custom-4 text-body" id="update">Update</button>
                              </div>
              
                            </form>
              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="static/js/account.js"></script>
  </body>
</html>