<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="static/css/main.css" rel="stylesheet" type="text/css">

    <title>361 Weather Need Help</title>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand nav-title" href="/">CS361 Weather</a>
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav_text">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="daily">Daily Weather</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login">Account Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="help">Need Help?</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="main">
            <h1 class="instructionsHead">User Instructions</h1>
            <section class="vh-100 bg-image mt-4 mb-5">
                <div class="mask d-flex align-items-center gradient-custom-3">
                  <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="">
                        <ul>
                            <li>
                                <h3>Register</h3>
                                <p>
                                    To register, click on the Register button on the top right corner of the page.
                                    You will be redirected to a page where you can register.
                                </p>
                            </li>
                            <li>
                                <h3>Login</h3>
                                <p>
                                    To login, click on the Login button on the top right corner of the page.
                                    You will be redirected to a page where you can login.
                                </p>
                            </li>
                            <li>
                                <h3>Search data without login</h3>
                                <p>
                                    To search data without login, click on the Search button on the top right corner of the page.
                                    You will be redirected to a page where you can search data without login.
                                </p>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>